@import url("../node_modules/vis-network/dist/vis-network.min.css");

html {
	background-color: #282c34;
}

b {
  color: white;
}

.button {
  background-color: #039be5;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
	background-color:#63ccff;
}

.input {
  border: none;
  border-radius: 16px;
  padding: 8px 10px;
  margin-top: 10px;
}

.graphMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.extraControls {
  display: block;
  margin-left: 40px;
}

.desc {
  margin-top: 0px;
}

.title {
  margin-bottom: 5px;
}

select {
  margin-left: 5px;
  border: none;
  border-radius: 8px;
  padding: 3px 5px;
  margin-top: 10px;
}

.App {
  text-align: center;
}

.title, .desc {
  color: white;
}

.mainGraph {
	margin-top: 20px;
}

.redTxt {
  color: red;
}

.GreenTxt {
  color: green;
}